.jumbotron {
  background: url(../img/pingPong.jpg) no-repeat;
  background-attachment: fixed;
  background-size: contain;
  height: auto;
  margin-bottom: 20px;
  padding-bottom: 50px;
}
h1 {
  padding-top: 15px;
}
h3 {
  margin-top:0;
}
.container2 {
  width: 40%;
}
