.jumbotron {
  background: url(../img/pingPong.jpg) no-repeat;
  background-attachment: fixed;
  background-size: contain;
  margin:20px 0;
  padding-bottom: 50px;
}
body {
  background-color: #eee;
}
h1 {
  padding-top: 15px;
}
h2, h3 {
  margin-top:0;
  padding: 0;
}
.panel-body {
  padding: 20px;
}
h3, h4, #outputUl, form {
  padding: 0 20px;
}
